#devops
pylint == 2.15.3 #needed
pytest== 7.4.0 #needed for testing
pytest-cov==4.0.0 #needed for testing
black==22.3.0 #formatter
nbval==0.10.0
nbqa==1.7.0

#data and visualizations
matplotlib == 3.7.5
pandas == 2.2.2

#rust based lint
ruff==0.0.290